*{
    box-sizing: border-box;
    font-size: 16px;
}

h2{
    font-size: 1.5rem;
}

#containerDiv{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 10px;
    margin-top: 50px;
}

#instructions{
    grid-column: 2/6;
    margin-left: 20px;
}

#field{ 
    /*margin: 0 auto;*/
    grid-column: 7/11;
    width: 430px;
    height: 585px;
    background-image: url(./images/Soccer\ Field.png);
    background-repeat: no-repeat;
    /*z-index: -1;*/
    position: relative;
    
}

#ball{
    border-radius: 50%;
    width: 50px;
    position: absolute;
    top: 270px;
    left: 190px;
}

button{
    position: absolute;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

#reset{
    top: 52%;
    right: -120px;
    background-color: red;
}

#start{
    top: 42%;
    right: -120px;
    background-color: green;
}

#reset:hover {
    background-color: rgb(236, 154, 154);
}

#start:hover {
    background-color: lightgreen;
}

.bold{
    font-weight: bold;
    font-size: 1.2rem;
}
#timerDiv{
    position: absolute;
    top: 25%;
    right: -120px;
    text-align: center;
}

#timerDiv > p {
    margin: 0;
}

#timer{
    border: 2px solid black;
    height: 45px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#timer > p{
    font-size: 1.1rem;
}